{% if post.response_to is none %}
<div class="post original" data-post-id="{{ post.id }}"> 
    <div onclick="window.location='{{ url_for('main.post', post_id=post.id )}}';">
        <div class="metadata">
            <img class="pfp" src="{{ url_for('static', filename='pfp.png') }}" alt="Profile Picture">
            <a href="{{ url_for('main.profile', user_id=post.user.id )}}" onclick="event.stopPropagation();">
                <p class="username">{{ post.user.name }}</p>
            </a>
            <p class="time">{{ post.timestamp }}</p>
        </div>
        <div>
            <p class="text">{{ post.text }}</p>
        </div>
    </div>
</div>
{% else %}
<div class="post response">
    <div class="metadata">
        <img class="pfp" src="{{ url_for('static', filename='pfp.png') }}" alt="Profile Picture">
        <a href="{{ url_for('main.profile', user_id=post.user.id )}}" onclick="event.stopPropagation();">
            <p class="username">{{ post.user.name }}</p>
        </a>
        <p class="time">{{ post.timestamp }}</p>
    </div>
    <div>
        <p class="text">{{ post.text }}</p>
    </div>
</div>
{% endif %}