body {
    background: #f2f3f5;
}

.appHeader {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #ff69b4;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    padding: 0.5% 1.5%;
}

.notification{
    background-color: darkred;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    padding: 0.5% 1.5%;
    text-align: center;
    color: white;
    border-radius: 12px;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}


.post {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    padding: 1% 1%;
    width: 95%;
    margin: 2% 2%;
}

.metadata {
    display: flex;
    flex-direction: row;
}

.username {
    font-weight: bold;
    padding-left: 10px;
}

.time {
    padding-left: 10px;
}

.profileContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.responseForm {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 1% 1%;
}

.editProfileContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1% 1%;
    padding: 1% 1%;
}

.loginContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 1% 1%;
    padding: 3% 3%;
}

.editProfileElement {
    display: flex;
    flex-direction: column;
    margin: 1% 1%;
}

.createProfileContainer {
    display: flex;
    flex-direction: column;
    padding: 1% 3%;
    text-align: center;
    align-items: left;
    width: 35%;
}

.createProfileElement {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.createProfileContainer, .loginContainer, .editProfileContainer h2 {
    font-size: 2em;
    margin: 0;
    padding: 5px 0px 10px 0px;
    color: #ff69b4;
    text-shadow: 0.5px 0.5px 0 #000, -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000;
    text-align:left;
}

.createProfileElement, .loginContainer, .editProfileContainer label {
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    color: #ff69b4;
    text-align: left;
}

.createProfileElement, .editProfileElement input[type="number"]{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    align-self: left;
}

.createProfileElement, .editProfileElement select{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    align-self: left;
}


.createProfileElement, .editProfileElement input[type="file"]{
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    align-self: left;
    
}

.createProfileElement input[type = "submit"]{
    width: 100%;
    background-color: #ff69b4;
    color: white;
    padding: 4px 20px;
    margin: 10px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.profileElements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
}

.pfp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 130px;
    height: 125px;
}

.pfp img {
    border-radius: 50%; 
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border: 2px solid #000;
}

.pfpSmall {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    object-fit: cover; 
    border: 1.5px solid #000;

}

.welcome-section h1 {
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ff69b4;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.welcome-section h4 {
    font-size: 2.5em;
    margin: 0;
    padding: 5px 0px 10px 0px;
    text-align: center;
    color: #ff69b4;
    text-shadow: 0.5px 0.5px 0 #000, -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 1% auto;
    padding: 1% 1%;
    align-items: center;
}

.searchContainer input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.searchContainer label {
    font-weight: bold;
    padding-top: 10px;
    color: #ff69b4;
}

.searchContainer input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.searchContainer select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #333;
    font-size: 1em;
}

.searchContainer option {
    padding: 10px;
}

.searchContainer button {
    width: 100%;
    background-color: #ff69b4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.listUsers {
    display: flex;
    flex-direction: column;
    padding: 0.5% 1.5%;
    width: 30%;
    word-break: break-word;
}
.listUsers h2 {
    color: #ff69b4;
}

.userRow {
    display: flex;
    flex-direction: row;
    padding: 0.5% 1.5%;
    align-items: center; 
    margin-bottom: 15px;
}

.blockedModal,
.likersModal,
.likedModal
{
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black background */
    justify-content: center;
    align-items: center;
}


.modalContent {
    width: 100%;
    max-width: 900px;
    max-height: 600px;
    overflow: auto;
    padding: 20px;
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    position: relative; 
}
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.propose-date {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2% auto;
    padding: 2%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.propose-date h3 {
    color: #ff69b4;
    text-align: center;
}

.propose-date label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.propose-date input[type="date"],
.propose-date textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.propose-date button {
    width: 100%;
    background-color: #ff69b4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.proposal {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    min-width: 100%;
    align-items: center;
}

.proposal p {
    margin: 0 0 10px 0;
    color: #333;
    text-align: center;
}

.proposal form {
    display: flex;
    justify-content: space-between;
}

.proposal button {
    background-color: #ff69b4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.proposal button:hover {
    background-color: #ff85c1;
}

.proposal-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.proposal-wrapper h3 {
    color: #ff69b4;
    text-align: center;
}

.proposal-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2% auto;
    padding: 2%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.proposal-section .proposal p {
    margin: 0 0 10px 0;
    color: #333;
}

#optional_message{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

#response-wrapper{
    padding: 10px;
}

#likedBtn {
    color: #ff69b4;
    cursor: pointer;
    border-color: #ff69b4;

}

#saveChangesBtn {
    color: #ff69b4;
    cursor: pointer;
    border-color: #ff69b4;
}

#likedBtn:hover,
#saveChangesBtn:hover 
{
    color: #fff; 
    background-color: #ff69b4;
}

.emoji {
    margin: 5px 5px;
}