{% extends 'base.html' %}

{% block content %}
    <div class="loginContainer">
        <div style="width: 100%">
            <h2 style="margin-bottom: 0; margin-left: 1%">Welcome</h2>
            <p style="margin-left: 1%">Log in to your account</p>
            <form action="{{ url_for('auth.login') }}" method="post">
                <div class="editProfileElement">
                    <label for="email">Username or Email:</label>
                    <input type="text" name="email" required/>
                </div>
                <div class="editProfileElement">
                    <label for="password">Password:</label>
                    <input type="password" name="password" required/>
                </div>
                <div class="editProfileElement"><input class="pinkBtn btn btn-success mt-3" style="background-color: #ff69b4; border: none; width: 100%" type="submit" value="Log In"/></div>
                <div class="mt-2" style="text-align: center; font-size: 80%"> <a href="{{ url_for('auth.signup') }}">Don't have an account? Sign Up here.</a></div>
            </form>
        </div>
    </div>
    <div style="display: flex; width: 100%; justify-content: flex-end;">
        <img src="{{ url_for('static', filename='red-heart.png') }}" alt="Heart" style="width: 115px; height: 90px; margin-right: 10%; transform: rotate(45deg)">
    </div>
    <br>
    <br>
    <br>
    <div style="display: flex; width: 100%; justify-content: flex-start;">
        <img src="{{ url_for('static', filename='red-heart.png') }}" alt="Heart" style="width: 155px; height: 120px; margin-left: 10%; transform: rotate(-45deg)">
    </div>
    <br>
    <br>
    <div style="display: flex; width: 100%; justify-content: flex-end;">
        <img src="{{ url_for('static', filename='red-heart.png') }}" alt="Heart" style="width: 125px; height: 100px; margin-right: 10%; transform: rotate(45deg)">
    </div>
    
{% endblock %}