{% extends 'base.html' %}


{% block content %}
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="notification">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    <div class="createProfileContainer">
        <form action="{{ url_for('auth.signup') }}" method="post" enctype="multipart/form-data">
            <h2>Sign Up</h2>      
            <div class="createProfileElement">
                <label for="email">Email:</label>
                <input type="email" name="email" required/>
            </div>
            <div class="createProfileElement">
                <label for="username">Username:</label>
                <input type="text" name="username" required/>
            </div>
            <div class="createProfileElement">
                <label for="password">Password:</label>
                <input type="password" name="password" required/>
            </div>
            <div class="createProfileElement">
                <label for="password_repeat">Repeat Password:</label>
                <input type="password" name="password_repeat" required/>
            </div>            
            <div class="createProfileElement">
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="createProfileElement">
                <label for="bio">Bio:</label>
                <textarea id="bio" placeholder="Hi, my name is..." name="bio"></textarea>
            </div>
            <div class="createProfileElement">
                <label for="birth_year">Birth Year:</label>
                <input type="number" id="birth_year" name="birth_year" min="1924" max="2024" placeholder="e.g, 1990" required>
            </div>
            <div class="createProfileElement">
                <label for="age_minimum">Age Minimum:</label>
                <input type="number" id="age_minimum" name="age_minimum" min="18" max="100" required>
            </div>
            <div class="createProfileElement">
                <label for="age_maximum">Age Maximum:</label>
                <input type="number" id="age_maximum" name="age_maximum" min="18" max="100" required>
            </div>
            <div class="createProfileElement">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="createProfileElement">
                <label for="genderPreference">Gender Preference:</label>
                <select id="genderPreference" name="genderPreference" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="createProfileElement">
                <label for="photo_id">Profile Photo:</label>
                <input type="file" id="photo_id" name="photo_id" accept="image/jpeg,image/png">
            </div>
            <div><input class="btn btn-success mt-2" type="submit" style="background-color: #ff69b4; border: none; width: 100%" value="Sign Up"/></div>
            <div><a href="{{ url_for('auth.login') }}">Already have an account? Log in here!</a>
        </form>
        <div>
            <img src="{{ url_for('static', filename='hl.webp') }}" alt="heart" style="width: 100px; height: 100px; margin-top: 20px;">
        </div>
    </div>
    
{% endblock %}