{% extends 'base.html' %}

{% block content %}
    <section class="welcome-section">
        <h1>Welcome to Amora!</h1>
        <h4>Search for your true love!</h4>
        <form action = "{{url_for('main.search')}}" method = "get">
            <div class = "searchContainer">
                <label for="name">Name or Username</label>
                <input type="text" name="name" placeholder="Search for users...">
                <label for="gender">Age Miniumum</label>
                <input type="number" name="age_minimum" placeholder="Min age" value="{{ user.profile.age_minimum }}" min="18" max="100">
                <label for="gender">Age Maximum</label>
                <input type="number" name="age_maximum" placeholder="Max age" value="{{ user.profile.age_maximum }}" min="18" max="100">
                <label for="gender">Their Gender</label>
                <select name="gender">
                    <option value="male" {% if user.profile.genderPreference == 'male' %}selected{% endif %}>Male</option>
                    <option value="female" {% if user.profile.genderPreference == 'female' %}selected{% endif %}>Female</option>
                </select>
                <label for="genderPreference">Their Gender Preference</label>
                <select name="genderPreference">
                    <option value="male" {% if user.profile.gender == 'male' %}selected{% endif %}>Male</option>
                    <option value="female" {% if user.profile.gender == 'female' %}selected{% endif %}>Female</option>
                </select>
                <button type="submit">Search</button>
                <div style="display: flex; vertical-align: middle">
                    <p class="emoji"> &#128561</p>
                    <a href="{{ url_for('main.getRandom') }}" class="mt-1" style="text-align: center; color: #ff69b4; width: 100%" role="button">Suprise Me!</a>
                    <p class="emoji"> &#128561</p>
                </div>
            </div>
        </form>
        <hr style="border: 1.5px solid ; color:#ff69b4; width: 100%">
    
        <div style="display: flex; justify-content: space-evenly"> 

            {% if searchUsers %}            
            <div class="listUsers">
                <br>
                <h2>Search Results</h2>
                {% for user in searchUsers %}
                    <div class="userRow">
                        {% if user.profile.photo %}
                            <img src="{{ url_for('static', filename='photos/photo-' ~ user.profile.photo.id ~ '.' ~ user.profile.photo.file_extension) }}" class="pfpSmall" alt="Profile photo" style="margin-right: 15px;">
                        {% else %}
                            <img src="{{ url_for('static', filename='photos/defaultPfp.jpg') }}" class="pfpSmall" alt="Default profile photo" style="margin-right: 15px;">
                        {% endif %}
                        <div style="display: flex; flex-direction: column;">
                            <h5 style="margin: 0;"><a href="{{ url_for('main.profile', user_id=user.id) }}">{{ user.profile.fullname }}</a></h5>
                            <p style="margin: 0;">Age: {{ current_year - user.profile.birth_year }}</p>
                        </div>
                    </div>
                    <p style="margin-left: 15px;">{{ user.profile.bio }}</p>
                    <hr style="border: 0.5px solid; color: grey; width: 100%;">
                {% endfor %}
            </div>
            {% endif %}
            {% if defaultUsers %}
            <div class="listUsers">
                <br>
                <h2>Users you may like</h2>
                {% for user in defaultUsers %}
                    <div class="userRow">
                        {% if user.profile.photo %}
                            <img src="{{ url_for('static', filename='photos/photo-' ~ user.profile.photo.id ~ '.' ~ user.profile.photo.file_extension) }}" class="pfpSmall" alt="Profile photo" style="margin-right: 15px;">
                        {% else %}
                            <img src="{{ url_for('static', filename='photos/defaultPfp.jpg') }}" class="pfpSmall" alt="Default profile photo" style="margin-right: 15px;">
                        {% endif %}
                        <div style="display: flex; flex-direction: column;">
                            <h5 style="margin: 0;"><a href="{{ url_for('main.profile', user_id=user.id) }}">{{ user.profile.fullname }}</a></h5>
                            <p style="margin: 0;">Age: {{ current_year - user.profile.birth_year }}</p>
                        </div>
                    </div>
                    <p style="margin-left: 15px;">{{ user.profile.bio }}</p>
                    <hr style="border: 0.5px solid; color: grey; width: 100%;">
                {% endfor %}
            </div>
            {% endif %}

        </div>


    </section>
{% endblock %}
