{% extends 'base.html' %}

{% block content %}
<div class="mt-3 ms-3" style="display: flex; justify-content: flex-start">
    <button id="blockedBtn" style="background: none; border: none; padding: 0; cursor: pointer;">
        <img src="{{ url_for('static', filename='blockedUsers.png') }}" alt="Blocked photo" style="width: 50px; height: 50px;">  
    </button>
</div>
<div class="profileContainer">
    <div class="pfp">
        {% if user.profile.photo %}
            <img src="{{ url_for('static', filename='photos/photo-' ~ user.profile.photo.id ~ '.' ~ user.profile.photo.file_extension) }}" alt="Profile photo">
        {% else %}
            <img src="{{ url_for('static', filename='photos/defaultPfp.jpg') }}" alt="Default profile photo">
        {% endif %}
    </div>
    <h1 style="margin-bottom: 0px">{{user.profile.fullname}}</h1>
    <p style="margin-top: 0px">{{user.email}}</p>
    {% if current_user.id == user.id %}
        <a href="{{ url_for('main.editProfile') }}" style="color: #ff69b4" class="button">Edit profile</a>
    {% endif %}
    <div style="display: flex; flex-direction: row">
        {% if like_button == "like" %}
        <form action="{{ url_for('main.like', user_id=user.id) }}" method="post">
            <input type="submit" value="Like">
        </form>
        {% elif like_button == "unlike" %}
            <form action="{{ url_for('main.unlike', user_id=user.id) }}" method="post">
                <input type="submit" value="Unlike">
            </form>
        {% endif %}
        {% if block_button == "block" %}
        <form action="{{ url_for('main.block', user_id=user.id) }}" method="post">
            <input type="submit" value="Block">
        </form>
        {% elif block_button == "unblock" %}
            <form action="{{ url_for('main.unblock', user_id=user.id) }}" method="post">
                <input type="submit" value="Unblock">
            </form>
        {% endif %}
    </div>
    <hr style="border: 1px solid; color: black; width: 75%;">
    <div class="profileElements">
        <div>
            <div style="display: flex; flex-direction: column">
                <h4 style="margin-bottom: 0; text-align: center">
                    {%if user.profile.gender== "male" %} Male
                    {%else%} Female
                    {%endif%}
                </h4>
                <p>Gender</p>
            </div>
        </div>
        <div>
            <h4 style="margin-bottom: 0; text-align: center">
                {%if user.profile.genderPreference== "male" %} Male
                    {%else%} Female
                    {%endif%}
            </h4>
            <p>
                Gender Preference
            </p>
        </div>
        <div>
            <h4 style="margin-bottom: 0; text-align: center">{{ current_year - user.profile.birth_year }}</h4>
            <p>
                Age
            </p>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; width: 75%">
        <h4 style="margin-bottom: 0; word-break: break-word; text-align: center">{{user.profile.bio}}</h4>
        <p style="text-align: center">Bio</p>
    </div>
    <hr style="border: 1px solid black; width: 75%;">
</div>
<div style="display: flex; justify-content: center">
    <button id="likersBtn" class="btn btn-primary me-2" style="background-color: #ff69b4; border: none">People who liked you</button>
    <button id="likedBtn" class="btn btn-outline-primary">People you liked</button>
</div>
{% if curUser.id != user.id %}
<div class="propose-date">
    <h3>Propose a Date</h3>
    <form action="{{ url_for('main.propose_date', recipient_id=user.id) }}" method="post">
        <label for="proposed_day">Select a date:</label>
        <input type="date" id="proposed_day" name="proposed_day" required>
        <label for="optional_message">Optional message:</label>
        <textarea id="optional_message" name="optional_message"></textarea>
        <button type="submit">Propose Date</button>
    </form>
</div>
{% endif %}

{% if user.id == current_user.id %}
    <div id="blockedModal" class="blockedModal">
        <div class="modalContent">
            <span class="close">&times;</span>
            <div>
                <h2>People you blocked</h2>
                {% if not user.blocking %}
                    <p>No blocked users</p>
                {% endif %}
                <div class="listUsers">
                    <br>
                    {% for blocker in user.blocking %}
                        <div class="userRow">
                            {% if blocker.profile.photo %}
                                <img src="{{ url_for('static', filename='photos/photo-' ~ blocker.profile.photo.id ~ '.' ~ blocker.profile.photo.file_extension) }}" class="pfpSmall" alt="Profile photo" style="margin-right: 15px;">
                            {% else %}
                                <img src="{{ url_for('static', filename='photos/defaultPfp.jpg') }}" class="pfpSmall" alt="Default profile photo" style="margin-right: 15px;">
                            {% endif %}
                            <div style="display: flex; flex-direction: column;">
                                <h5 style="margin: 0;"><a href="{{ url_for('main.profile', user_id=blocker.id) }}">{{ blocker.profile.fullname }}</a></h5>
                                <p style="margin: 0;">Age: {{ current_year - blocker.profile.birth_year }}</p>
                            </div>
                        </div>
                        <hr style="border: 0.5px solid; color: grey; width: 100%;">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="likersModal" class="likersModal">
        <div class="modalContent">
            <span class="close">&times;</span>
            <div>
                <h2>People who liked you</h2>
                {% if not user.likers %}
                    <p>No users liked you</p>
                {% endif %}
                <div class="listUsers">
                    <br>
                    {% for liker in user.likers %}
                        <div class="userRow">
                            {% if liker.profile.photo %}
                                <img src="{{ url_for('static', filename='photos/photo-' ~ liker.profile.photo.id ~ '.' ~ liker.profile.photo.file_extension) }}" class="pfpSmall" alt="Profile photo" style="margin-right: 15px;">
                            {% else %}
                                <img src="{{ url_for('static', filename='photos/defaultPfp.jpg') }}" class="pfpSmall" alt="Default profile photo" style="margin-right: 15px;">
                            {% endif %}
                            <div style="display: flex; flex-direction: column;">
                                <h5 style="margin: 0;"><a href="{{ url_for('main.profile', user_id=liker.id) }}">{{ liker.profile.fullname }}</a></h5>
                                <p style="margin: 0;">Age: {{ current_year - liker.profile.birth_year }}</p>
                            </div>
                        </div>
                        <hr style="border: 0.5px solid; color: grey; width: 100%;">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="likedModal" class="likedModal">
        <div class="modalContent">
            <span class="close">&times;</span>
            <div>
                <h2>People you liked</h2>
                {% if not user.liking %}
                    <p>You haven't liked anyone</p>
                {% endif %}
                <div class="listUsers">
                    <br>
                    {% for liker in user.liking %}
                        <div class="userRow">
                            {% if liker.profile.photo %}
                                <img src="{{ url_for('static', filename='photos/photo-' ~ liker.profile.photo.id ~ '.' ~ liker.profile.photo.file_extension) }}" class="pfpSmall" alt="Profile photo" style="margin-right: 15px;">
                            {% else %}
                                <img src="{{ url_for('static', filename='photos/defaultPfp.jpg') }}" class="pfpSmall" alt="Default profile photo" style="margin-right: 15px;">
                            {% endif %}
                            <div style="display: flex; flex-direction: column;">
                                <h5 style="margin: 0;"><a href="{{ url_for('main.profile', user_id=liker.id) }}">{{ liker.profile.fullname }}</a></h5>
                                <p style="margin: 0;">Age: {{ current_year - liker.profile.birth_year }}</p>
                            </div>
                        </div>
                        <hr style="border: 0.5px solid; color: grey; width: 100%;">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- All Proposal Stuff Section-->
    <div class = "proposal-wrapper">

        <!-- Set Dates section-->
        <div class = "proposal-section">
            <h3> Set Dates</h3>
            {% for date in set_dates %}
                <div class="proposal">
                    {% if date.proposer.id == current_user.id %}
                        <p>Set a date with {{ date.recipient.username }} for {{ date.proposed_day.strftime('%Y-%m-%d') }}</p>
                        <p>They replied: {{date.replyMessage}}</p>
                    {% else %}
                        <p>{{ date.proposer.username }} set a date with you for {{ date.proposed_day.strftime('%Y-%m-%d')}}</p>
                        <p>Your reply: {{date.replyMessage}}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <!-- Received Proposals Section-->
        <div class = "proposal-section">
            <h3>Received Date Proposals</h3>
            {% if not received_proposals %}
                <p style="font-size: 3em; color: red; text-align: center; font-weight: bold; text-shadow: 2px 2px 4px #000000;">No proposals received</p>
                <p style="font-size: .8em; color: red; text-align: center; font-weight: bold; text-shadow: 2px 2px 8px #000000;">Loser</p>
            {% endif %}
            {% for proposal in received_proposals %}
                <div class="proposal">
                    <p>{{ proposal.proposer.username }} proposed a date for {{ proposal.proposed_day.strftime('%Y-%m-%d') }}</p>
                    <p>Message: {{proposal.proposingMessage}}</p>
                    <form action="{{ url_for('main.respond_proposal', proposal_id=proposal.id) }}" method="post">
                        <div id = "response-wrapper">
                            <div id = "optional_message">
                                <label for="optional_message">Optional message:</label>
                                <textarea id="optional_message" name="optional_message"></textarea>
                            </div>
                            <div id = "response-buttons">
                                <button type="submit" name="action" value="accept">Accept</button>
                                <button type="submit" name="action" value="reject">Reject</button>
                                <button type="submit" name="action" value="ignore">Ignore</button>
                                <button type="submit" name="action" value="reschedule">Request Reschedule</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>

        <!-- Sent Proposals Section-->
        <div class="proposal-section">
            <h3>Proposals</h3>
            {% for proposal in sent_proposals %}
                {% if proposal.status == '0' or proposal.status == '3'%}
                    <div class="proposal">
                        <p>Proposed to {{ proposal.recipient.username }} for {{ proposal.proposed_day.strftime('%Y-%m-%d') }}</p>
                        <p>Message: {{proposal.proposingMessage}}</p>
                        <p>Status: Proposed</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Replied Proposals Section-->
        <div class="proposal-section">
            <h3>Replied</h3>
            {% for proposal in sent_proposals %}
                {% if proposal.status != '0' and proposal.status != '3' and proposal.status != '1'%}
                    <div class="proposal">
                        <p>Proposed to {{ proposal.recipient.username }} for {{ proposal.proposed_day.strftime('%Y-%m-%d') }}</p>
                        <p>Message: {{proposal.replyMessage}}</p>
                        <p>Status: 
                        {% if proposal.status == '2' %}
                            Rejected
                        {% elif proposal.status == '4' %}
                            Reschedule Requested
                        {% endif %}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}


<script>
function openModal(modalId) {
    var modal = document.getElementById(modalId);
    if (modal) {
        modal.style.display = 'flex';
    }
}

function closeModal(modal) {
    if (modal) {
        modal.style.display = 'none';
    }
}

document.getElementById('blockedBtn').addEventListener('click', function() {
    openModal('blockedModal');
});

document.getElementById('likedBtn').addEventListener('click', function() {
    openModal('likedModal');
});

document.getElementById('likersBtn').addEventListener('click', function() {
    openModal('likersModal');
});

var closeButtons = document.querySelectorAll('.close');
closeButtons.forEach(function(button) {
    button.addEventListener('click', function() {
        var modal = button.closest('.blockedModal, .likedModal', '.likersModal');
        closeModal(modal);
    });
});

window.addEventListener('click', function(event) {
    var blockedModal = document.getElementById('blockedModal');
    var likedModal = document.getElementById('likedModal');
    var likersModal = document.getElementById('likersModal');

    if (event.target === blockedModal) {
        closeModal(blockedModal);
    }

    if (event.target === likedModal) {
        closeModal(likedModal);
    }

    if (event.target === likersModal) {
        closeModal(likersModal);
    }
});
</script>
{% endblock %}